{% extends 'base.html' %} 
{% block metatags %} 
<title>{{ object.title }}</title> 

{% endblock %} 
{% block content %} 
<style type="text/css"> 
#container img { 
border-radius: 29px; 
width: 100%; 
height: 360px; 
opacity: 0.7; 
align-content: center; 
} 
#container img { 
opacity: 1.0; } 
a {text-align: center; text-decoration: none;} 
</style> 

<div class="container"> 
  <div class="row">   
<div class="col-md-6 left"> 
        <h1 class="card-title">{% block title %} {{ object.title }} {% endblock title %}</h1> 
        <p class=" text-muted">{{ object.author }}|{{ object.created_on }}</p> 
        <p class="card-text">{{ object.content | safe }}</p> 
        <p class="card-text">{{ object.vote }}</p> 
		<a href={% url 'upvote' object.blog object.slug  %} class="btn btn-outline-primary">Upvote </a>
      </div> 
       </div>
            {% for comment in comments %}
                <div class=" col-md-12 comment">
                    <div class="date">{{ comment.created_date }}</div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.content|linebreaks }}</p>
                </div>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}	   
       <form method="POST">
  {% csrf_token %}
    {{form}}
    <input type="submit" name="comment" class="btn btn-warning">
  
</form>    
	   </div> 
	   
	   
{% endblock content %} 