{% extends 'base.html' %} 
{% block metatags %} 
<title>{{ object.title }}</title> 

{% endblock %} 
{% block content %} 
<style type="text/css"> 
{{Blog.look}}
</style> 
		<span>  <a href="/" class="btn btn-outline-primary">Main </a></span>  

<div class="container"> 
  <div class="row">   
<div class="col-md-6 left"> 
        <h1 class="card-title">{% block title %} {{ object.title }} {% endblock title %}</h1> 
        <p class=" text-muted">{{ object.author }}|{{ object.created_on }}</p> 
        <p class="card-text">{{ object.content | safe }}</p> 
        <p class="card-text">{{ object.vote }}</p> 
		<a href={% url 'upvote' object.blog object.slug  %} class="btn btn-outline-primary">Upvote </a>
      </div> 
       </div>
            {% for comment in comments %}
                <div class=" col-md-12 comment">
                    <div class="date">{{ comment.created_date }}</div>
                    <strong>{{ comment.author }}</strong>
                    <p>{{ comment.content|linebreaks }}</p>	
					
					{% if user.is_superuser %}
    <span><a href={% url 'deletecom' object.blog object.slug comment.pk %} class="btn btn-outline-primary">Delete</a></span> 
	{% endif %}
                </div>
            {% empty %}
                <p>No comments here yet :(</p>
            {% endfor %}	
	{% if user.is_authenticated %}			
       <form method="POST">
  {% csrf_token %}
    {{form}}
    <input type="submit" name="comment" class="btn btn-warning">
  
</form>    
{% endif %}
	   </div> 
	   
	   
{% endblock content %} 